/*
Creator: Simone Medhanie 
Date created: 07/26/2019
Date last modified: 
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgba(255, 204, 0, 0.829);
}

header, footer {
  text-align: center;
  background-color: #1D65A6;
  color: white;
}

header {
  padding: 2em;
  border-bottom: thin solid black;
}

footer {
  width: 100%;
}

.col-md-12 {
  border-bottom: thin solid black;
}

nav a {
  display: block;
  float: left;
  margin: 20px;
  padding: 10px 20px;
  background: #36688D;
  color: white;
}

.container {
  position: relative;
  min-height: 100vh;
  max-width: 900px;
}

section {
  background-color: beige;
}

article {
  width: auto;
  text-align: center;
}

#carousel1 {
  background: #1D65A6;
  color: white;
  text-align: center;
}
